## TIL Ignore File ##
.ipynb_checkpoints/
.data/
training_checkpoints/
ted_hrlr_*/
*.zip
test*.txt
doit/
trainset/
testset/
model*
__pycache__/
checkpoint
AI/Lane_detection_pytorch2TF/data/
AI/Lane_detection_pytorch2TF/tf_train_backup.py
test.ipynb
LIDAR/plot_PCD_복사본.txt
LIDAR/lidar_test.ipynb
# Lectures/Udacity/Self_Driving_Car_Engineer_Nanodegree/1_Computer_Vision/Exercise/
# Lectures/Udacity/Self_Driving_Car_Engineer_Nanodegree/1_Computer_Vision/Exercise/**/data
.vscode/